*{
  margin:0;
  padding:0; 
  text-transform: none;
    
}
body{
    background:black;
    font-family: cursive;
}

.form{
    width:1400px;
    height: auto;
    margin:30px;
    margin-left:105px;
}
.form-card{
    background:#eee;
    width:80%;
    height: 1530px;
    margin:80px;
    padding: 22px 30px;
    box-shadow: 0px 0px 80px 30px green;
}
.form-card form{
    width:100%;
    height: auto; 
  box-sizing: border-box;  
}
.form-card form fieldset{
    padding:30px 50px;
    margin-bottom:5px;
    line-height: 40px;
    color:#000;
    font-size:18px;
}
.form-card form fieldset input[type=text], input[type=email], input[type=date], input[type=name], input[type=select],
input[type=tel],
.cnt{
    width:50%;
    margin:10px;
    padding:10px 18px;
    font-size:20px;
}
.form-card form fieldset input[type=submit],input[type=reset]{
    background: black;
    color:green;
    border:none;
    border-radius: 12px;
    margin:12px 12px;
    width:10%;
    padding:10px 10px;
    font-size: 18px;
    text-shadow:0px 0px 12px red;
}
.form-card h1{
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
    text-shadow:0px 0px 30px  green; 
}


/* section start*/
.section{
    margin-top:330px;
 width:100%;
    height: 400px;
    display:flex;
    flex-direction: row;
    justify-content: center;   
}
/* section end*/

/* flex section */
.flex-saction{
    background: #fff;
    width:500px;
    margin: 20px;
    height:200px;
    padding:40px 50px;
    box-shadow: 0px 4px 25px 10px green;
    
}/* flex section end */

/* flex section h1 star  */
.flex-saction h1{
    width: auto;
    margin-left: 30px;
    text-shadow: 2px 2px 2px green;
}/* flex section h1 end */

/* flex section a(link) start*/
.flex-saction a{
    display:inline-block;
    margin:10px;
}/* flex section a(link) end*/

/*flex section a{button} start*/
.flex-saction a .btn{
    margin-top:50px;
    margin-left:30px;
    background: black;
    color:aqua;
    border:none;
    width:100%;
    padding:15px 15px;
    box-shadow:0px 0px 20px 10px aqua;
}
/*flex section a{button} end*/
.flex-continer{
    margin-top: 100px;
    width:100%;
    height: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;   
}
.card-flex{
    background: #fff;
    width:25%;
    height: 300px;
    padding: 20px 20px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 24px;
    color:black;
    box-shadow: 0px 0px 23px 5px red;
}
.card-flex h2{
    margin-left:60px;
    text-decoration: overline;
    text-transform: uppercase;
    text-shadow: 0px 0px 25px; 
}
.flex-continer>.card-flex>h2> form{
    margin:20px;
    padding:30px 30px;
}
.flex-continer>.card-flex>h2>form , input[type=text]{
    width:70%;
    margin:10px;
    margin-left: 50px;
    padding:12px 12px;
    font-size:22px; 
}
.flex-continer>.card-flex>h2>form , input[type=password]{
    width:70%;
    margin:10px;
    margin-left: 50px;
    padding:12px 12px;
    font-size: 22px;
}
.flex-continer .card-flex h2 form, input[type=submit]{
  width: 77%;
    margin-left: 50px;
  padding:12px 12px;
    font-size: 28px;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px solid green;
    box-shadow: 0px 0px 12px 3px red;
    text-shadow:0px 0px 22px
}

